<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %} {{ page.title }} |{% endif %} PRA</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <header>
          <h1>The Path Ranking Algorithm</h1>
          <h2>Matt Gardner&#39;s implementation</h2>
          <p class="view"><a href="https://github.com/matt-gardner/pra">View the Project on GitHub <small>matt-gardner/pra</small></a></p>
          <ul class="github">
            <li><a href="https://github.com/matt-gardner/pra/zipball/master">Download <strong>ZIP File</strong></a></li>
            <li><a href="https://github.com/matt-gardner/pra/tarball/master">Download <strong>TAR Ball</strong></a></li>
            <li><a href="https://github.com/matt-gardner/pra">View On <strong>GitHub</strong></a></li>
          </ul>
          <h4>Navigation</h4>
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/papers.html">Papers</a></li>
            <li><a href="/input.html">Input File Specification</a></li>
            <li><a href="/experiments.html">Running Experiments</a></li>
          </ul>
        </header>
        <footer>
          <p>This project is maintained by <a href="https://github.com/matt-gardner">matt-gardner</a></p>
          <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
      </div>
      <section>
        {{ content }}
      </section>
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-55234491-1");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    </div>
  </body>
</html>
